@font-face {
    font-family: 'Comfortaa';
    src: url(./../fonts/Comfortaa-Regular.ttf)
}

body {
    font-family: 'Comfortaa';
    text-align: center;

    background-color: #c5e7f9;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main {
    /* Overriden by dynamic sizing in CardSide.js */
    font-size: 3em;

    text-overflow: ellipsis;
    overflow: hidden;
}

.notes {
    font-size: 1.25em;

    text-overflow: ellipsis;
    overflow: hidden;
}

.card {
    background-color: #f9f9f9;
    border-radius: 0.25em;
    box-shadow: -1em -1em #fbfbfb16;

    margin: 2rem auto;
    padding: 2rem;

    width: 80%;
    height: calc(100% - 4rem);

    box-sizing: border-box;

    position: relative;
}

.doNotDisplay {
    display: none;
}

.middleControls {
    margin: 1rem auto;
    width: 100%;

    bottom: 0;
    position: absolute;
    text-align: center;

    clear: both;
}

.textBox {
    font-family: 'Comfortaa';
    font-size: 3.5vmin;
    width: 40%;

    padding: 0.5em;
}

.skipButton {
    font-family: 'Comfortaa';
    font-size: 3.5vmin;
    padding: 0.5em 1em;
    
    margin: 0 0.5em;
}

.undoButton {
    font-family: 'Comfortaa';
    font-size: 1.75vmin;
    padding: 0.25em 0.75em;
    
    margin: 0 0.25em;
    margin-right: 2em;
}

.optionsBox {
    font-size: 1.5vmin;

    right: 0;
    bottom: 0;
    margin: 0.5em;
    position: absolute;
}

.swapBox {
    size: 1.5vmin;
    padding: 0.5em 1em;
}

.cardProgress {
    font-size: 1rem;
    left: 1rem;

    position: absolute;
    bottom: 1rem;
    text-align: left;
}

.cardProgressCorrect {
    color: rgb(71, 212, 71);
}

.cardProgressIncorrect {
    color: rgb(206, 103, 103);
}
