@font-face {
    font-family: 'Comfortaa';
    src: url(./../fonts/Comfortaa-Regular.ttf)
}

body {
    font-family: 'Comfortaa';

    text-align: center;
    max-width: 75vw;
    height: 100vh - 2.5vh;

    background-color: #c5e7f9;

    margin: 0 auto;
    padding: 5vh;
}

.main {
    /* Overriden by dynamic sizing in CardSide.js */
    font-size: 3em;
    padding: 1em 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.notes {
    font-size: 1.25em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card {
    background-color: #f9f9f9;
    border-radius: 0.5em;
    height: 90vh;

    position: relative;
}

.textBox {
    font-family: 'Comfortaa';
    font-size: 2em;

    margin: 0.25em;
    padding: 0.5em;
}

.button {
    font-family: 'Comfortaa';
    font-size: 2em;

    background-color: lightgray;
    border: none;
    color: black;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
}

.doNotDisplay {
    display: none;
}

.skipButton {
    
}

.controls {
    width: 100%;
    bottom: 0;

    position: absolute;
}
